.center-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 50px;
  background-color: #622a0f;
  color: #ca2521;
}
